*{
    box-sizing: border-box;
}

body{
    background-image: url("../img/clouds.jpg");
    
}

#container {
    
    display: grid;
    height: auto;
    width: 100%;    
    grid-template-columns: 66.6% auto;  
    grid-template-rows: 13% 5% auto 5%;  
    grid-template-areas:
        "naslov naslov"
        "navbar navbar"
        "main aside"
        "footer footer";           
    overflow-wrap: break-word;
    overflow: hidden;
    
}

@media (max-width: 940px){
    #container{
        display: flex;        
        flex-direction: column;
        height: auto;
    }    
    
    #main{
        height: auto;
    }
    
    #aside{
        height: 1000px;
        align-items: center;
        justify-content: space-around;
    }    
             
}

@media (max-width: 640px){
    #container{
        display: flex;        
        flex-direction: column;
        height: auto;        
    }

    #main{
        height: 1850px;
    }

    #aside{
        height: 900px;
        align-items: center;
        justify-content: space-around;
    }      
}

#naslov {
    grid-area: naslov;
    font-size:3vw;
    text-align: center;
}

#naslov h3 {
    
    align-self: center;
    text-shadow: 4px 4px 8px grey;
    top: 20px;
    left: 20%;
}

#animacija img{
    opacity: 0.4;
    border-radius: 50%;
    width: 105px;
    height: auto;
    
}

#animacija{
    animation-name: anima;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 4px;
}

@keyframes anima{
    0% {left:8px; transform: rotate(0deg);}
    100% {left: 1150px; transform: rotate(1120deg);}
}

#navbar {
    grid-area: navbar;
    opacity: 0.7; 
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

#navbar li{
    float: left;
}

#navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

#navbar li a:hover{

    background-color: #111;

}  

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#main img {    
    box-shadow: 12px 9px 4px #777;
    opacity: 1;
    transition: all 0.4s;
}

#main img:hover {
    opacity: 0.9;
    box-shadow: 30px 18px 5px #888;
    transform: scale(1.1);
}

.karta p{
    text-align: center;
    text-shadow: 2px 2px 3px tomato;
    font-size: x-large;
    
}

#aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    
}
#footer {
    grid-area: footer;    
    width: 100%;
}

#footer img { 
    position: relative;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 80px;
    bottom: 10px;
    transition-property: transform;
    transition-duration: 2s;
}

#footer img:hover {
    transform: rotate(1000deg);
}

#footer span{
    position: relative;
    bottom: 20px;
    left: 50px;
}
