img{
    box-shadow: 12px 9px 4px #666;
    opacity: 0.9;
    
    transition: all 0.4s;
}

img:hover{
    box-shadow: 22px 14px 5px #666;
    opacity: 1;
    
    transform: scale(1.1);
}