*{
  box-sizing: border-box;
}

body{
  background-image: url("../img/clouds.jpg");
  background-repeat: repeat;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
  background-repeat: no-repeat;
  height: auto; 
  overflow-wrap: break-word;

  height: auto;
  

  
  padding:0;
  margin:0;
  width: 100%;
  top:0;
  left:0;

  }

.header{
  height: 100px;
}  


.flajer{
  
  width: 450px;
  height: 100%;
  
  background-image: url("../img/fback12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  text-shadow: 3px 2px 2px gray;
  color: black;
  border: 3px solid blue; 
  overflow-wrap: break-word; 
  margin: 30px;

}




#container_img{
  position: relative;
  height: 300px;
}

.slika_flajer{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 7px 7px 6px rgb(77, 72, 72);
  border: 1px solid black;
}  
  

.tabela{
  width: 100%;
  
}


.tabela tr td{
  padding: 12px 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bolder;  
  max-width: 300px;
  word-wrap:break-word;
  
}
textarea {
  width: 80%;
  height: 90px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
